.search-input {
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size:30px;
    position: relative;
    flex:500;
}
#itemSearch {
    border-radius: 30px;
    border-color: transparent;
    padding: 5px 10px;
}
.search-input label {
    display: flex;
    flex-direction: row-reverse;
}
#header {
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    background: cornflowerblue;
    display: flex;
    padding: 30px 50px;
}
#btn-toggle {
    color: #fff;
    cursor: pointer;
    flex: 100;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.switch {
    position: relative;
    display: flex;
    width: 47px;
    height: 26px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #5fe31b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5fe31b;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}