#content {
    display: flex;
    flex-direction: row;
}

#leftNav {
    width: 250px;
    height: calc(100vh - 100px);
    background-color: #f5f5f5;
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.3);
}
.MainMenuItem  {
    cursor: pointer;
    color:#fff;
    background-color: #969696;
    padding: 5px 15px;
    margin-bottom:1px;
}
.MainMenuItem:hover {
    background-color: #4d4d4d;
    transition: background-color 0.3s linear;
}
.MainMenuItem a {
    color:#fff;
    text-decoration: none;
}
.subItem {
    padding: 5px 25px;
    margin-bottom:1px;
    background-color: #f5f5f5;
}
.subItem:hover {
    /*background-color: #b6b6b6e4;*/
    border-left: 7px solid cornflowerblue;
}
a {
    color: #444444;
    text-decoration: none;
}
.hidden {
    display: none;
}
.show {
    display: block;
}
.no-content {
    border: solid #fff;
    border-width: 0 3px 0px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    float: right;
    margin-top: 1px;
    margin-right: -4px;
}
.hide-content {
    border: solid #fff;
    border-width: 0 3px 0px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    float: right;
    margin-top: -28px;
    margin-right: 10px;
    transition: all 0.2s linear;
}
.has-content {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-top: -22px;
    padding: 4px;
    margin-right: 11px;
    float: right;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all 0.2s linear;

}
.flyout-menu{
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    background: #d5d5d5;
    width: 250px;
    box-shadow: 2px 0px 6px 0px rgba(0,0,0,0.3);
}
.flyout-main {
    position: relative;
}
.flyout-subItem {
    position: relative;
}
.flyout-menu div{
    padding:2px;
}
.flyout-menu > div:hover {
    background-color: #4d4d4d;
    transition: background-color 0.3s linear;
    border-left: 7px solid cornflowerblue;
    transition: border-left 0.1s linear;
}
.flyout-menu a {
    color: #444444;
}
.flyout-menu a:hover {
    color: #fff;
}
#menu-search {
    color: #707070;
    background-color: #707070;
    padding: 15px 10px;
    height: 20px;
}
#menu-search i {
    margin-right: 10px;
}
#menu-search label {
    border-radius: 30px;
    border-color: transparent;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #fff;
    /*width: 150px;*/
}
#menu-search input {
    border-color: transparent;
    background: transparent;
    /*padding: 5px 10px;*/
    /*margin-left: 10px;*/
    /*width: 150px;*/
}
input:focus {
    outline:none;
}