.container{
    margin: 20px auto;
    width: 70%;
}
.product-list {
    display: inline-flex;
    flex-wrap: wrap;
}
.product-list ul{
    list-style: none;
}

.list-item {
    margin: 15px;
    background-color: cornflowerblue;
    padding: 30px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.6);
}